@inherits LayoutComponentBase

<div class="container-fluid app">
    <!--Menu left-->
    <div class="menu-left">
        <div class="menu-items">
            <a href="#">
                <i class='bx bx-home-alt'></i>
            </a>
            <a href="#">
                <i class='bx bx-chat'></i>
            </a>
            <a href="#">
                <i class='bx bxs-user-account'></i>
            </a>
        </div>
        
        <div class="menu-setting">
            <a href="#">
                <i class='bx bx-cog'></i>
            </a>
        </div>
    </div>
    <div class="manage-content">
        <div class="manage-header">
            <h1>Manage user</h1>
            <button>Add</button>
        </div>
        <div class="manage-conent">
            <table>

            </table>
        </div>
        @Body
    </div>
</div>