@layout ChatAppLayout

@page "/chat-box"
<div class="message-content">

    <div class="message-recive">
        <div class="info-user-recive">
            <i class='bx bxs-user-circle'></i>
            <p>Name user send</p>
            <span class="time-user-recive">10h</span>
        </div>
        <div class="message-content-recive">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a mi at urna elementum lobortis nec nec enim. Praesent in interdum ex. Fusce et dignissim nibh, eget ornare tortor. Integer sollicitudin est laoreet auctor pretium. Integer suscipit, quam at finibus rutrum, magna risus luctus enim, at semper nibh quam eget diam</p>
        </div>
    </div>
    <div class="message-send">
        <div class="info-user-send">
            <i class='bx bxs-user-circle'></i>
            <span class="time-user-send">10h</span>
        </div>
        <div class="message-content-send">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div class="message-send">
        <div class="info-user-send">
            <i class='bx bxs-user-circle'></i>
            <span class="time-user-send">10h</span>
        </div>
        <div class="message-content-send">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div class="message-recive">
        <div class="info-user-recive">
            <i class='bx bxs-user-circle'></i>
            <p>Name user send</p>
            <span class="time-user-recive">10h</span>
        </div>
        <div class="message-content-recive">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a mi at urna elementum lobortis nec nec enim. Praesent in interdum ex. Fusce et dignissim nibh, eget ornare tortor. Integer sollicitudin est laoreet auctor pretium. Integer suscipit, quam at finibus rutrum, magna risus luctus enim, at semper nibh quam eget diam</p>
        </div>
    </div>
    <div class="message-send">
        <div class="info-user-send">
            <i class='bx bxs-user-circle'></i>
            <span class="time-user-send">10h</span>
        </div>
        <div class="message-content-send">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</div>

<div class="message-input-send">
    <input class="input-message" type="text" placeholder="Enter message send!" />
    <div class="btn-send-message">
        <a href="#"><i class='bx bx-folder'></i></a>
        <a href="#"><i class='bx bx-send'></i></a>
    </div>
</div>
<!--https://www.deviantart.com/david34532/art/Chatten-974540815-->